<h1>Page d'affichage du produit</h1>
<div>
  <div>
    <p>Veuillez saisir le produit dont vous voulez les informations :</p>
    <select (change)="onChangeSelect($event)">
      <option *ngFor="let product of productList" [value]="product.tig_id">{{product.name}}</option>
    </select>
  </div>
  <div>
    <p>
      ID : {{product.id}}<br />
      tig_id : {{product.tig_id}}<br />
      Nom : {{product.name}}<br />
      Prix : {{product.price}} €<br />
      Promotion : {{product.discount}} %
    </p>

    <div>
      <input type="text" id="discount" placeholder="Nouvelle promotion" />
      <p *ngIf="displayError3" style="color: red;">{{errorDiscount}}</p>
      <button type="button" (click)="onClickModifyDiscount()">Modifier promotion</button>
    </div>

    <p>
      Quantité en stock : {{product.quantityInStock}}
    </p>
    <div>
      <input type="number" id="quantityInStockIncrement" placeholder="Nouvelle quantité" />
      <p *ngIf="displayError1" style="color: red;">{{error}}</p>
      <button type="button" (click)="onClickIncrementQuantityInStock()">Ajouter</button>
    </div>
    <div>
      <input type="number" id="quantityInStockDecrement" placeholder="Nouvelle quantité" />
      <p *ngIf="displayError2" style="color: red;">{{error}}</p>
      <button type="button" (click)="onClickDecrementQuantityInStock()">Enlever</button>
    </div>
  </div>
</div>